@import url("https://fonts.googleapis.com/css?family=Tangerine");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  height: auto;
  background-color: #000;
  font-family: "Great Vibes", cursive;
}
canvas {
  position: absolute;
  z-index: 0;
  width: 100%;
  overflow: hidden;
}
.smoke {
  width: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fade 13s;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.smoke span {
  position: relative;
  color: #fff;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 10px;
  font-family: "Tangerine", cursive;
  font-size: 2.5em;
  animation: animate 6s cubic-bezier(0, 0.98, 0.58, 1) infinite;
}

.smoke span:nth-child(1) {
  animation-delay: 0s;
  color: #b61b1b;
}
.smoke span:nth-child(2) {
  animation-delay: 0.1s;
}
.smoke span:nth-child(3) {
  animation-delay: 0.2s;
  color: #b61b1b;
}
.smoke span:nth-child(4) {
  animation-delay: 0.3s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animate {
  0% {
    filter: blur(0);
  }
  40% {
    filter: blur(20px);
    opacity: 0.7;
  }
  60% {
    filter: blur(10px);
    opacity: 0.9;
  }
  80% {
    filter: blur(5px);
    opacity: 1;
  }
  100% {
    filter: blur(0);
  }
}

/* *btn */
.btn {
  position: absolute;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 65%;
  /* left: 70%; */
}
/* From Uiverse.io by LilaRest */
button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 12px 10px 12px;
  box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: #000000;

  border-color: #ffffff34;
  border-style: solid;
  border-width: 9px;
  border-radius: 35px;
  transition: transform 400ms cubic-bezier(0.68, -0.55, 0.27, 2.5),
    border-color 400ms ease-in-out, background-color 400ms ease-in-out;
  word-spacing: -2px;
  z-index: 111111;
}

@keyframes movingBorders {
  0% {
    border-color: #fce4e4;
  }

  50% {
    border-color: #ffd8d8;
  }

  90% {
    border-color: #fce4e4;
  }
}

button:hover {
  transform: scale(105%);
  animation: movingBorders 3s infinite;
}

.filled,
.empty {
  fill: rgb(255, 110, 110);
  transition: opacity 100ms ease-in-out;
}

.filled {
  position: absolute;
  opacity: 0;
}

@keyframes beatingHeart {
  0% {
    transform: scale(1);
  }

  15% {
    transform: scale(1.15);
  }

  30% {
    transform: scale(1);
  }

  45% {
    transform: scale(1.15);
  }

  60% {
    transform: scale(1);
  }
}

button:hover .empty {
  opacity: 0;
}
.act .empty {
  opacity: 0;
}

.act .filled {
  opacity: 1;
  animation: beatingHeart 1.2s infinite;
}
button:hover .filled {
  opacity: 1;
  animation: beatingHeart 1.2s infinite;
}
.blurred-edge {
  filter: blur(3px);
}
